ul.tree-list {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  
  li {
    margin: 2px 0;
  }
}

.node-row {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--text-dim);
  transition: all 0.1s;
  
  &.viewing {
    background-color: rgba(232, 33, 39, 0.15);
    color: var(--text-main);
  }
  
  &.active {
    .name {
      color: var(--accent-red);
    }
  }
  
  &:hover {
    background-color: var(--bg-hover);
    color: var(--text-main);
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
    accent-color: var(--accent-red);
    cursor: pointer;
  }
  
  .node-label {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
  }
  
  .icon {
    margin-right: 6px;
    display: flex;
    align-items: center;
    color: var(--text-dim);
    
    lucide-icon {
      color: inherit;
    }
  }
  
  .name {
    font-size: 14px;
    user-select: none;
  }
}

.children {
  margin-left: 16px;
  border-left: 1px solid var(--border);
}

